{%extends 'stats/index_base.html' %}
{% block information%}

<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">

    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4 text-center">
                <div class="card-body">
                    <h3>Total Members</h3>
                    <h5 class="card-title">{{total_members|length}}</h5>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{%url 'gym_management:stats_table_view' member_type='total_members' %}">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4 text-center">
                <div class="card-body">
                    <h3>Expiring Members</h3>
                    <h5 class="card-title">{{expiring_members|length}}</h5>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{%url 'gym_management:stats_table_view' member_type='expiring_members'  %}">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4 text-center">
                <div class="card-body">
                    <h3>Active Members</h3>
                    <h5 class="card-title">{{active_members|length}}</h5>
                </div>

                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'gym_management:stats_table_view' member_type='active_members'  %}">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4 text-center">
                <div class="card-body">
                    <h3>Expired Members</h3>
                    <h5 class="card-title">{{expired_members|length}}</h5>

                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white link" href="{%url 'gym_management:mark_expired_inactive'%}">Deactivate
                        All</a>
                    <a class="small text-white link" href="{%url 'gym_management:stats_table_view' member_type='expired_members'  %}">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
   </div>
{% endblock %}
