{%extends 'stats/index_base.html'%}
{% load static %}
{% load django_tables2  %}

{%block table %} 

<div class="card mb-4">
    <div class="card-header">
        <span><i class="fas fa-table mr-1"></i> {{table_name}} 
        </span>
        <span class="float-right">
            
            <a href="?_export=csv" class="mr-1" >
                <i class="fas fa-download mr-1 "></i>Export as csv</a>
            <a href="?_export=xlsx" class="mr-1" >
                <i class="fas fa-download mr-1 "></i>Export as xlsx</a>
            <a href="?_export=json" class="mr-1" >
                <i class="fas fa-download mr-1 "></i>Export as json</a>
        </span>
    </div>

    <div class="card-body">

        <div class="table-responsive">

            {%render_table table %}


        </div>
    </div>
</div>
{% endblock %}